*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}
a:hover{
    color: skyblue;
}
.nav-center{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #fcfcfc;
    box-shadow: 0 5px 5px #ccc;
}

ul{
    display: flex;
}
li{
    margin-left: 20px;
}

h4,li,a{
    font-size: 20px;
    letter-spacing: 5px;
}

h4{
    color: skyblue;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #fcfcfc; */
}

h2{
    background-color: #000;
    color: #fff;
    font-size: 38px;
    padding: 10px 25px;
    border-radius: 8px;
    letter-spacing: 5px;
}

.color{
color: skyblue;
letter-spacing: 5px;
}

.btn{
    margin-top: 30px;
    padding: 10px 25px;
    font-size: 18px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #000;
    transition: 0.3s;
}
.btn:hover{
    background-color: #000;
    color: #fff;
}